@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i");
body {
  color: #3C4242;
  font-family: 'Roboto', sans-serif;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
}

header #logo {
  max-width: 370px;
}

header #logo img {
  max-width: 370px;
}

header nav.top {
  padding-top: 20px;
  text-align: center;
}

header nav.top ul {
  display: inline;
  padding-left: 0;
}

header nav.top li {
  display: inline-block;
  font-size: 18px;
}

header nav.top li a {
  color: #A0B0AD;
  padding: 8px 15px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  text-decoration: none;
  line-height: 30px;
}

header nav.top li a:hover {
  background-color: #53ADAD;
  color: #FFFFFF;
}

header nav.top li.current a {
  background-color: #53ADAD;
  color: #FFFFFF;
}

header .login-btns {
  padding-top: 20px;
  width: 150px;
}

header .login-btns .signup {
  background-color: #F6AF3D;
  color: #FFFFFF;
}

header .login-btns .signup:hover {
  background-color: #ff9d00;
}

section.slider {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F3F5F4;
  border-top: 3px solid #F6AF3D;
  border-bottom: 3px solid #F6AF3D;
}

section.slider h1 {
  font-size: 34px;
}

section.slider ul > li {
  font-size: 18px;
}

section.slider .startFreeBtn > button {
  background-color: #F6AF3D;
  color: #FFFFFF;
}

section.slider .startFreeBtn > button:hover {
  background-color: #ff9d00;
}

section.slider .sliderImg > img {
  width: 300px;
}

section.header {
  background-color: #F3F5F4;
  border-top: 1px solid #F6AF3D;
  border-bottom: 1px solid #F6AF3D;
}

section.header h1 {
  font-size: 25px;
}

section.content {
  background-color: #D5F9F9;
  padding: 20px 0;
}

section.content .item > img {
  width: 190px;
}

section.content .item > p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

footer {
  background-color: #F6AF3D;
  padding-bottom: 20px;
}

footer .logoFooter {
  margin-top: 25px;
}

footer .navFooter {
  margin-top: 30px;
}

footer .navFooter li {
  display: inline-block;
  font-size: 14px;
}

footer .navFooter li a {
  color: #FFFFFF;
  padding: 8px 15px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  text-decoration: none;
}

footer .navFooter li a:hover {
  background-color: #53ADAD;
  color: #FFFFFF;
}

footer .navFooter li.current a {
  background-color: #53ADAD;
  color: #FFFFFF;
}

footer .subscribe {
  position: relative;
  margin-top: 25px;
  max-width: 330px;
}

footer .subscribe input {
  border: none;
  -webkit-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
  line-height: 30px;
  width: 230px;
  padding-left: 35px;
}

footer .subscribe button {
  color: #FFFFFF;
  padding: 5px 10px;
  margin-left: -3px;
  margin-top: -4px;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
  background-color: #BC4231;
}

footer .subscribe button:hover {
  background-color: #b7584b;
  color: #FFFFFF;
}

footer .subscribe span {
  position: absolute;
  background-color: #dfdfdf;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 0px 6px 3px;
  font-size: 16px;
  font-weight: 600;
  color: #b7b7b7;
  top: 4px;
  left: 20px;
}

#copyright {
  background-color: #3C4242;
  color: #FFFFFF;
  text-align: center;
  padding: 4px 0 2px;
}
